h1{
	font-size: 50px;
	border-bottom: solid;
	border-style: double;
	border-width: 5px;
	border-color: red;
	text-align: center;
}

p{
	color:orange;
	font-size:20px;
}
#table1 td{
			text-align: center;
}
#table1{
		border-color:black;
		color:blue;
		font-size: 20px;
		width: 100%;
		border-spacing: 0;
}
#table2{
		font-size: 15px;
		color:green;
		width: 100%;
}
#table1 tr{
			text-align: center;
}
#table3{
	width:100%;
}
#td1{
		text-align: left;
}
#td2{
			 text-align: right;
}
.td3{
		text-align: left;
}
.td4{
		text-align: right;
}
ul{
	font-size: 20px;
	color:blue;
}

footer{
		font-size: 20px;
}


