h1{
	font-size: 50px;
}

hr{
	border-width: 5px;
}
p{
	color:orange;
	font-size: 30px;
}
table td{
			text-align: center;
}
table {
		border-color:black;
		color:blue;
		font-size: 30px;
}
footer{
		font-size: 5px;
		text-align: right;
}
img{
		vertical-align: top;
}
#div1{
		color:green;
}
#div2{
		color:red;
}
#div3{
		color:blue;
}

.xyz{
	font-size: 40px;
	color: green;
}
li.abc{
		font-size: 30px;
		color: blue;

}
